@import "start_mixins.scss";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

body{
    height: 99vh;
    width: 100%;
    
    h2.screen_sm{
        padding: 8px 16px;
        margin: auto;
        text-align: center;
        display: none;
    } // див. 256 строка

    .contains{
       display: flex;

        .leftee{
            width: 30%;

            .contains{
                display: flex;
                flex-direction: column;

                header{ @include header; }

                main{ @include main; }

                footer{ @include footer; }
            }
        }

        .rightee{
            width: 70%;

            img{
                width: 100%;
                max-width: 100%;
                height: 100vh;
            }
        }
    }
    
}

input{ @include input; }

@media (max-width: 1400px) {
    input{width: 200px;}
}

@media (max-width: 1200px) {
    body{
        .contains{
            .leftee{
                .contains{
                    footer{
                        .contains{
                            flex-direction: column;

                            a{
                                img{
                                    width: 200px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    body{
        .contains{
            .leftee{
                width: 100%;
                .contains{
                    footer{
                        .contains{
                            flex-direction: row;
                        }
                    }
                }
            }

            .rightee{
                display: none;
            }
        }
    }

    input{
        width: 300px;
    }
}

@media (max-width: 500px) {
    body{
        .contains{
            .leftee{
                .contains{
                    footer{
                        .contains{
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    input{
        width: 200px;
    }
}

@media (max-width: 300px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;

        h2.screen_sm{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contains{
            display: none;
        }
    }
}