$primary_color: oklch(55.8% 0.288 302.321);
$primary_color_hover: oklch(62.7% 0.265 303.9);
$secondary_color: oklch(90.2% 0.063 306.703);
$box_shadow_color: oklch(70.5% 0.015 286.067);
$btn_hover_color: oklch(92% 0.004 286.32);
$pass_forgot_color: darkgray;